.user-notif-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 15vw;
    padding: 0.5rem;
}

.user-notif-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.user-notif-heading {
    color: rgb(117, 117, 117);
}

.user-notif-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    font-size: large;
    padding: 0.3rem 1rem;
    background-color: rgb(231, 231, 231);
    border-radius: 10px;
    text-decoration: none;
    color: inherit;
}