body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

.overview-container {
    width: 68vw;
    background-color: rgba(232, 232, 232, 0.555);
    /* border-right: 2px solid black;
    border-left: 2px solid black; */
}

.card {
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 30px;
    padding: 30px;
    width: 1300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #E3F5FF;
    border-radius: 1rem;
}

.card img {
    width: 100%;
    border-radius: 5px;
}

h3 {
    margin: 0;
}

p {
    margin: 0;
}

.overview {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.charts {
    margin: 20px;
    background-color: #E3F5FF;
    padding: 20px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 50vh;
    font-weight: 600;
}

.location-details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.locations,
.driver-details {
    border: 2px solid #dbdbdb;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    width: 550px;
    height: 20vh;
    font-weight: 600;
}

.driver-bid-container {
    background-color: #E3F5FF;
    padding: 2rem;
    margin: 2rem 0;
}

.driver-bid-header {
    display: flex;
    gap: 6rem;
}

.driver-bid-header p {
    width: 5vw;
}

.driver-bids-list {
    display: flex;
    gap: 2rem;
    margin: 2rem 0;
}

.driver-bid {
    display: flex;
    gap: 2rem;
    background-color: #fffb8062;
    justify-content: space-between;
    align-items: center;
}

.driver-bid button {
    width: max-content;
}

.driver-bid-message {
    color: #4a4a4a;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.driver-refresh-button {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
}

.driver-refresh-button:hover {
    background-color: #4a4a4a;
    color: white;
}

.driver-refresh-container {
    display: flex;
    justify-content: end;
    align-items: end;
}

.driver-bids-list {
    display: grid;
}

.button-lower-bid{
    background-color: rgba(130, 220, 78, 0.512);
    margin-right: 10px;
    border-radius: 10px;
    font-weight: 400;
}

.join-waiting-list{
    background-color: bisque;
    border-radius: 10px;
}

.lower-amount{
    display: flex;
    justify-content: space-between;
    
}

.bid-options{
    margin-left: 10px;
}

.chart2{
    height: 70vh;
}

.driver-bids-list h2 {
    text-align: center;
}